html, body, form {
    margin:0;
    padding: 0;
    border: 0;
}

body form{
    display: flex;
    justify-content: center;
 }

body form .modalCadastro {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    height: 500px;
}

body form .modalCadastro #corpo {
    display: inherit;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 30px;
    margin: 0 auto;
}

body form .modalCadastro #corpo 
#txtNome,
#txtLogin,
#txtSenha,
#txtConfirmarSenha
{
    margin-bottom: 15px;
    padding:5px 0;
    width: 400px;
}

body form .modalCadastro #corpo #dropDownList {
    width: 200px;
    padding: 5px 0;
}

body form .modalCadastro #btnConfirmar, #lblErro{
    margin: auto;
}

body form .modalCadastro #btnConfirmar {
    padding:10px 0;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}